rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      // -> '읽기'는 누구나 허용하도록 분리하고, '쓰기'만 로그인 사용자에게 허용합니다.
      allow read;
      allow write: if request.auth != null;
    }
  }
}